<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="webjars/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg text-white bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
            <span class="align-middle font-weight-bold mr-1" id="authenticatedUsername"></span>
            <span class="align-middle mr-1">with roles:</span>
            <span id="authenticatedUserRoles"></span>
        </ul>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>

<div class="d-flex align-items-start">
    <div class="p-0 col-2 py-3">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <ul class="nav nav-pills nav-fill flex-column">
                <li class="nav-item">
                    <a class="nav-link active text-left" data-toggle="tab" id="homeTab" href="#adminPanel">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-left" th:href="@{/userAdmin}">
                        User
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <main class="col-md-10 gx-5 py-3 tab-content" style="background-color:#f8f9fa; height: 100vh">
            <div class="container-fluid">
            <h1>Admin panel</h1>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="usersTable" data-bs-toggle="tab" data-bs-target="#allUsers"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Users table
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="addNewUser" data-bs-toggle="tab" data-bs-target="#newUser"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">New User
                </button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="allUsers" role="tabpanel"
                 aria-labelledby="all-users-tab">
                <div class="card">
                    <div class="card-header">
                        <h4>All users</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id="tbodyAllUserTable">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="new-user-tab">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            Add new user
                        </h4>
                    </div>

                    <div class="card-body">
                        <div class="text-center d-flex justify-content-center">
                            <form id="newUserForm">
                                <div class="form-group mb-2">
                                    <input type="hidden" name="id" class="form-control"
                                           id="newUserId" value="-1"/>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="newUserUsernameField" class="form-label fw-bold">Username</label>
                                    <input type="text" name="username" class="form-control"
                                           id="newUserUsernameField" placeholder="username"/>
                                </div>
                                <div class="form-group">
                                    <label for="newUserEmail" class="form-label fw-bold">Email</label>
                                    <input type="email" name="email" class="form-control"
                                           id="newUserEmail" placeholder="Email"/>
                                </div>
                                <div class="form-group">
                                    <label for="password"
                                           class="form-label fw-bold">Password</label>
                                    <input type="password" name="password"
                                           class="form-control"
                                           id="password"
                                           minlength="3" placeholder="Password"/>
                                </div>
                                <p>
                                    <label class="form-label fw-bold">Role</label>
                                    <select id="newUserRoles" class="form-select col-md-24"
                                            name="roles" multiple="" size="2" required>
                                        <option value="1">ADMIN</option>
                                        <option value="2">USER</option>
                                    </select>
                                </p>
                                <input class="btn btn-success" type="submit"
                                       value="Add new user"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" tabindex="-1"
                 id="editModal"
                 aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                            <button type="button" class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="close"></button>
                        </div>
                        <div class="modal-body text-center d-flex justify-content-center">
                            <form id="editModalForm">
                                <div class="form-group mb-2">
                                    <label for="editModalUserId"
                                           class="form-label fw-bold">ID</label>
                                    <input type="text"
                                           name="id"
                                           class="form-control"
                                           id="editModalUserId"
                                           readonly>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="editModalUsername"
                                           class="form-label fw-bold">Username</label>
                                    <input type="text"
                                           name="username"
                                           class="form-control"
                                           id="editModalUsername"/>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="editModalEmail"
                                           class="form-label fw-bold">Email</label>
                                    <input type="text"
                                           name="email"
                                           class="form-control"
                                           id="editModalEmail" required/>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="editModalPassword"
                                           class="form-label fw-bold">Password</label>
                                    <input type="password"
                                           name="password"
                                           class="form-control" id="editModalPassword"
                                           minlength="3"
                                           required/>
                                </div>
                                <label class="form-label fw-bold">Role</label>
                                <select id="editModalRoles" class="form-select col-md-24"
                                        name="roles" multiple size="2" required>
                                    <option value="1">ADMIN</option>
                                    <option value="2">USER</option>
                                </select>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="editModalCloseButton"
                                            data-bs-dismiss="modal">Close
                                    </button>
                                    <input class="btn btn-primary" type="submit"
                                           value="Edit"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" tabindex="-1" id="deleteModal"
                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete
                                user</h5>
                            <button type="button" class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="close"></button>
                        </div>
                        <div class="modal-body text-center d-flex justify-content-center">
                            <form id="deleteModalForm">
                                <div class="form-group mb-2">
                                    <label for="deleteModalUserId"
                                           class="form-label fw-bold">ID</label>
                                    <input type="text"
                                           name="id"
                                           class="form-control"
                                           id="deleteModalUserId"
                                           readonly/>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="deleteModalUsername"
                                           class="form-label fw-bold">Username</label>
                                    <input type="text"
                                           name="username"
                                           class="form-control"
                                           id="deleteModalUsername"
                                           readonly/>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="deleteModalEmail"
                                           class="form-label fw-bold">Email</label>
                                    <input type="text"
                                           name="email"
                                           class="form-control"
                                           id="deleteModalEmail" readonly/>
                                </div>
                                <label class="form-label fw-bold">Role</label>
                                <input type="text" name="roles"
                                       class="form-control" id="deleteModalRoles" readonly/>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="deleteModalCloseButton"
                                            data-bs-dismiss="modal">Close
                                    </button>
                                    <input class="btn btn-danger" type="submit"
                                           value="Delete"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
<script src="/showUpdateDeleteUsers.js"></script>
<script src="/createUser.js"></script>

</body>
</html>